@font-face{ font-family:Bold; src:url(/assets/fonts/Bold.ttf); }
@font-face{ font-family:Italic; src:url(/assets/fonts//Italic.ttf); }
@font-face{ font-family:Bold-Italic; src:url(/assets/fonts//Bold-Italic.ttf); }
@font-face{ font-family:Light; src:url(/assets/fonts//Light.ttf); }
@font-face{ font-family:Light-Italic; src:url(/assets/fonts//Light-Italic.ttf); }  
@font-face{ font-family:Main; src:url(/assets/fonts//Main.ttf); }  

body {
  background-color: #232527;
  text-align: center;
} 
h1 {
  color:#899199;
  font-size: 35px;
  font-family: "Light";
}
h2, h3 {
  color:#899199;
  font-size: 30px;
  font-family: "Light";
}
a {
  color: #81a1c1;
  font-size: 23px;
  text-decoration: none;
  font-family: "Main";
}
p { 
  color:#899199; 
  font-size: 20px;
  font-family: "Main";
}
