@font-face{ font-family:Bold; src:url(/assets/fonts/Bold.ttf); }
@font-face{ font-family:Italic; src:url(/assets/fonts//Italic.ttf); }
@font-face{ font-family:Bold-Italic; src:url(/assets/fonts//Bold-Italic.ttf); }
@font-face{ font-family:Light; src:url(/assets/fonts//Light.ttf); }
@font-face{ font-family:Light-Italic; src:url(/assets/fonts//Light-Italic.ttf); }  
@font-face{ font-family:minecraft; src:url(/assets/fonts/minecraft.ttf); }  

h1 {
  color:#919191;
  font-size: 35px;
  font-family: "minecraft";
}
h2 {
  color:#919191;
  font-size: 25px;
  font-family: "minecraft";
}
body {
  text-align: center;
  background-color: #292929;
}
a {
  color: #919191;
  font-size: 25px;
  text-decoration: none;
  font-family: "minecraft";
}
p { 
  color:#919191; 
  font-size: 20px;
  font-family: "minecraft";
}
hr.new4 {
  border: 1px solid #4c566a;
}