@font-face{ font-family:Bold; src:url(/assets/fonts/Bold.ttf); }
@font-face{ font-family:Italic; src:url(/assets/fonts//Italic.ttf); }
@font-face{ font-family:Bold-Italic; src:url(/assets/fonts//Bold-Italic.ttf); }
@font-face{ font-family:Light; src:url(/assets/fonts//Light.ttf); }
@font-face{ font-family:Light-Italic; src:url(/assets/fonts//Light-Italic.ttf); }  
@font-face{ font-family:Main; src:url(/assets/fonts//Main.ttf); }  


h1 {
  color:#FFFFFF;
  font-size: 35px;
  font-family: "Bold";
}
h2 {
  color:#FFFFFF;
  font-size: 25px;
  font-family: "Bold";
}
body {
  text-align: center;
  background-color: #171819;
}
a {
  color: #FFFFFF;
  font-size: 22px;
  font-family: "Main";
  text-decoration: none;
}
p { 
  color:#FFFFFF; 
  font-size: 20px;
  font-family: "Main";
}
f { 
  color:#FFFFFF; 
  font-size: 21px;
  font-family: "Bold";
}
hr.new4 {
  border: 1px solid #4c566a;
}