h1 {
  color:#eceff4;
  font-size: 35px;
}
h3 {
  color:#eceff4;
  font-size: 20px;
}
body {
  background-color: #2E3440;
}
a {
  color: #81A1C1;
  font-size: 20px;
  text-decoration: none;
}
p { 
  color:#eceff4; 
  font-size: 20px;
}
hr {
  color:#434c5e
}
hr.new4 {
  border: 1px solid #4c566a;
}