@font-face{ font-family:Bold; src:url(/assets/fonts/Bold.ttf); }
@font-face{ font-family:Italic; src:url(/assets/fonts//Italic.ttf); }
@font-face{ font-family:Bold-Italic; src:url(/assets/fonts//Bold-Italic.ttf); }
@font-face{ font-family:Light; src:url(/assets/fonts//Light.ttf); }
@font-face{ font-family:Light-Italic; src:url(/assets/fonts//Light-Italic.ttf); }  
@font-face{ font-family:Main; src:url(/assets/fonts//Main.ttf); }  
 

h1 {
  color:#eceff4;
  font-size: 35px;
  font-family: "Light";
}
h2 {
  color:#eceff4;
  font-size: 25px;
  font-family: "Light";
}
h4 { 
  color:#d8dee9; 
  font-size: 18px;
  font-family: "Italic";
}
body {
  background-color: #2E3440;
  text-align: center;
}
a {
  color: #81A1C1;
  font-size: 20px;
  text-decoration: none;
  font-family: "Bold";
}
p { 
  color:#d8dee9; 
  font-size: 15px;
  font-family: "Bold";
}
hr.new4 {
  border: 1px solid #4c566a;
}