@font-face{ font-family:Bold; src:url(/assets/fonts/Bold.ttf); }
@font-face{ font-family:Italic; src:url(/assets/fonts//Italic.ttf); }
@font-face{ font-family:Bold-Italic; src:url(/assets/fonts//Bold-Italic.ttf); }
@font-face{ font-family:Light; src:url(/assets/fonts//Light.ttf); }
@font-face{ font-family:Light-Italic; src:url(/assets/fonts//Light-Italic.ttf); }  
@font-face{ font-family:Main; src:url(/assets/fonts//Main.ttf); }  

body {
  background-color: #2E3440;
  text-align: center;
} 
h1 {
  color:#eceff4;
  font-size: 35px;
  font-family: "Light";
}
h2, h3 {
  color:#eceff4;
  font-size: 25px;
  font-family: "Light";
}
a {
  color: #81a1c1;
  font-size: 20px;
  text-decoration: none;
  font-family: "Bold";
}
p { 
  color:#eceff4; 
  font-size: 20px;
  font-family: "Main";
}
pre { 
  color:#eceff4; 
  font-family: "Light";
}
hr.new4 {
  border: 1px solid #4c566a;
}
i { 
  color:#4c566a; 
  font-family: "Light";
  font-size: 20px;
}