body {
  background-color: #2E3440;
  text-align: center;
} 
h1 {
  color:#eceff4;
  font-size: 35px;
}
h2, h3 {
  color:#eceff4;
  font-size: 25px;
}
a {
  color: #81A1C1;
  font-size: 20px;
  text-decoration: none;
}
p { 
  color:#eceff4; 
  font-size: 20px;
}