@font-face{ font-family:RobotoMono-Bold; src:url(/assets/fonts/RobotoMono-Bold.ttf); }
@font-face{ font-family:RobotoMono-BoldItalic; src:url(/assets/fonts/RobotoMono-BoldItalic.ttf); }
@font-face{ font-family:RobotoMono-Italic; src:url(/assets/fonts/RobotoMono-Italic.ttf); }
@font-face{ font-family:RobotoMono-Light; src:url(/assets/fonts/RobotoMono-Light.ttf); }
@font-face{ font-family:RobotoMono-LightItalic; src:url(/assets/fonts/RobotoMono-LightItalic.ttf); }  

body {
  background-color: #2E3440;
  text-align: center;
} 
h1 {
  color:#eceff4;
  font-size: 35px;
  font-family: "RobotoMono-Light";
}
h2, h3 {
  color:#eceff4;
  font-size: 25px;
  font-family: "RobotoMono-Light";
}
a {
  color: #81A1C1;
  font-size: 20px;
  text-decoration: none;
  font-family: "RobotoMono-Light";
}
p { 
  color:#eceff4; 
  font-size: 20px;
  font-family: "RobotoMono-Light";
}
pre { 
  color:#eceff4; 
  font-family: "RobotoMono-Light";
}